.navbar_campus-record {
    background-color: rgb(166, 178, 245);
    font-size: 18px;
    padding-top: 70px;
    height: 175px;
}
.pla_note {
    font-size: 15px;
    text-align: left;
}
.body_past-recruiters {
    background-color: rgb(166, 178, 245);
    font-size: 16px;
}
.body_companies {
    font-size: 14px;
}

.body_facilities {
    background-color: rgb(166, 178, 245);
    font-size: 20px;
    padding-bottom: 4px;
    
}

.facilities_elements {
    font-size: 14px;
}