.font_size-20px {
    font-size: 14px;
    line-height: 1.35em;
}
.font_size-12px {
    font-size: 12px;
    text-transform: uppercase;
}

.font_size-5px {
    font-size: 15px;
    line-height: 1.35em;
}